/**FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;800&family=Playfair+Display:ital,wght@0,400;0,800;1,400&display=swap');

/**VAR*/
:root {
    /*COLORES*/
    --texto: #ffffff;
    --fondo: #000000;
    --verdeOscuro: #009458;
    --verdeClaro: #69BF97;
    /*FUENTES*/
    --titulos: 'Dosis', sans-serif;
    --parrafos: 'Playfair Display', serif;
    /*TAMAÑOS*/
    --h1: 50pt;
    --h2: 40pt;
    --h3: 30pt;
    --h4: 20pt;
    --p: 14pt;
}

.circulos-progresos{
    background-color: #009458;
}

.label{
    background: #ffffff;
}

.smaller{
    background: var(--fondo);
}